.doors-box {
  background: snow;
  display: flex;
  justify-content: space-around;
  padding: 5vh;
}

.active-door {
  background: yellow;
  width: 21vw;
  height: 61vh;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.inactive-door {
  background: grey;
  width: 21vw;
  height: 61vh;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.image {
  width: 20vw;
  height: 60vh;
  margin: auto;
  display: block;
  cursor: pointer;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .doors-box {
    background: blue;
  }
}
